version: 2.1
jobs:
  build:
    docker:
      - image: fpco/stack-build:lts
        auth:
          # context / project UI env-var reference
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD  
    steps:
      - checkout
      - restore_cache:
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          name: Restore Cached Dependencies
          keys:
            - cci-adventofcode-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
            - cci-adventofcode-{{ checksum "stack.yaml" }}
      - run:
          name: Resolve/Update Dependencies
          command: stack --no-terminal setup
      - run:
          name: Run tests
          command: stack --no-terminal test
      - store_test_results:
          path: test-results
      - run:
          name: Install executable
          command: stack --no-terminal install
      - save_cache:
          name: Cache Dependencies
          key: cci-adventofcode-{{ checksum "stack.yaml" }}-{{ checksum "package.yaml" }}
          paths:
            - "/root/.stack"
            - ".stack-work"

workflows:
  fullbuild:
    jobs:
      - build